<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="ErrorFile" fileName="logs/Error.log">
            <MarkerFilter marker="Error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="InfoFile" fileName="logs/Info.log">
            <MarkerFilter marker="Info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="WarnFile" fileName="logs/Warn.log">
            <MarkerFilter marker="Warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>

    <loggers>
        <root level="trace">
            <appender-ref ref="ErrorFile" level="error"/>
            <appender-ref ref="InfoFile" level="info"/>
            <appender-ref ref="WarnFile" level="warn"/>
        </root>
    </loggers>

</configuration>